<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <title>REST API</title>
  </head>

  <body>
    <div id="app" class="container pt-3" v-cloak>
      <form @submit.prevent="createNote">
        <div class="row mb-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              v-model="form.name"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Value"
              v-model="form.value"
            />
          </div>
        </div>
        <button class="btn btn-secondary" type="submit" :disabled="!isCreated">
          Create
        </button>
      </form>

      <div v-if="loading">
        <loader />
      </div>
      <div v-else-if="notes.length">
        <div class="card mt-3" v-for="note in notes">
          <div class="card-body">
            <h5
              class="card-title"
              :style="{color: note.marked ? 'red' : 'black'}"
            >
              {{note.name}}
            </h5>
            <p class="card-text">{{note.value}}</p>
            <button
              href="#"
              class="btn btn-secondary"
              @click="markNote(note.id)"
              :disabled="note.marked"
            >
              Confirm
            </button>
            <button
              href="#"
              class="btn btn-danger"
              @click="deleteNote(note.id)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <div v-else class="mt-3">
        <p>This is no notes yet.</p>
      </div>
    </div>

    <script type="module" src="client.js"></script>
  </body>
</html>
